.App .create-task {
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 10px;
  background-color: lightgoldenrodyellow;
  margin-top: 1%;
}
.App .create-task .create-btn {
  border: none;
  background-color: slateblue;
  color: #fff;
  font-size: 16px;
  width: 30%;
  border-radius: 10px;
  padding: 1%;
}
.App .create-task .create-btn:hover {
  opacity: 0.7;
}
.App .create-task .mb-4 {
  text-align: center;
}
.App .new-task {
  width: 30%;
  background-color: lightgoldenrodyellow;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding: 1%;
  margin: 1%;
}
.App .new-task .new-task-delete-btn {
  border: none;
  border-radius: 10px;
  padding: 1%;
  width: 20%;
  background-color: red;
  color: #fff;
  opacity: 0.88;
}
.App .new-task .new-task-edit-btn {
  border: none;
  border-radius: 10px;
  padding: 1%;
  width: 40%;
  background-color: green;
  margin-left: 2%;
  color: #fff;
  opacity: 0.88;
}
.App .new-task .new-task-delete-btn:hover,
.App .new-task .new-task-edit-btn:hover {
  opacity: 1;
}
.App .task-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
}
.App .title-to-created {
  text-align: center;
  margin-top: 3%;
}
.App .new-task .updated-btn {
  text-align: center;
}
.App .new-task .new-task-updated-btn {
  border: none;
  background-color:  rgb(113, 13, 13);
  color: #fff;
  border-radius: 10px;
  padding: 1%;
  width: 40%;
}
.App .new-task .new-task-updated-btn:hover {
    background-color:  rgb(120, 49, 49);
}
.App .new-task .updated-form {
  border: 1px solid rgb(113, 13, 13);
  padding: 3%;
  border-radius: 10px;
}
.App .new-task .updated-form h5 {
  text-align: center;
  padding: 3%;
  color: rgb(113, 13, 13);
}
.App .create-title {
    text-align: center;
    padding: 3%;
    color: slateblue;
}
